.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    font-weight: 300;
    color: var(--branco);
    margin-bottom: 0.5em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em .5em;
}

.topicos__link {
    background-color: var(--laranja);
    font-weight: 700;
    font-size: 14px;
    color: var(--branco);
    text-decoration: none;
    padding: 1em;
}